* text=auto eol=lf

*.go linguist-language=Go
*.tsx linguist-language=TypeScript
*.ts linguist-language=TypeScript
*.md linguist-language=Markdown

# Ensure shell scripts keep execute bit
*.sh text eol=lf
# Auto detect text files and perform LF normalization
* text=auto
