apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
  labels:
    app: 0xhub-operator
rules:
- apiGroups:
  - hub.0xhub.io
  resources:
  - projects
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - hub.0xhub.io
  resources:
  - projects/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - hub.0xhub.io
  resources:
  - projects/finalizers
  verbs:
  - update

