{{- if .Values.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "hub.operator.fullname" . }}
  labels:
    {{- include "hub.operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - hub.0xhub.io
  resources:
  - projects
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - hub.0xhub.io
  resources:
  - projects/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - hub.0xhub.io
  resources:
  - projects/finalizers
  verbs:
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
{{- end }}

